meta name="baidu-site-verification" content="hov3MzmVz6"
- if content_for?(:title)
    = yield :title
- else
    title = "送闲置"
meta name="keywords" content="#{meta_keywords}"
meta name="description" content="#{meta_description}"

meta charset='utf-8'
meta http-equiv='X-UA-Compatible' content='IE=edge'
meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
meta name="apple-mobile-web-app-capable" content="yes"
meta name="mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-title" content="送闲置"
meta content="email=no" name="format-detection"
meta property='wb:webmaster' content="78e9f2e1c609997f"


= favicon_link_tag 'logo.jpg'
