meta name="baidu-site-verification" content="hov3MzmVz6"
- if content_for?(:title)
    = yield :title
- else
    title = "蔚县@我"
meta name="keywords" content="#{meta_keywords}"
meta name="description" content="#{meta_description}"

meta charset='utf-8'
meta http-equiv='X-UA-Compatible' content='IE=edge'
meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui"
meta name="apple-mobile-web-app-capable" content="yes"
meta name="mobile-web-app-capable" content="yes"
meta name="apple-mobile-web-app-title" content="蔚县@我"
meta content="email=no" name="format-detection"
meta property='wb:webmaster' content="78e9f2e1c609997f"


= favicon_link_tag 'icon/64.ico'
link href='/icon/256.ico' sizes='144x144' rel='apple-touch-icon-precomposed'
link href='/icon/192.ico' sizes='114x114' rel='apple-touch-icon-precomposed'
link href='/icon/96.ico' sizes='72x72' rel='apple-touch-icon-precomposed'
link href='/icon/64.ico' rel='apple-touch-icon-precomposed'


// iPhone
link href="apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image"

// iPhone Retina
link href="apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"

// iPhone 5
link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="apple-touch-startup-image-640x1096.png"

// iPad portrait
link href="apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image"

// iPad landscape
link href="apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image"

// iPad Retina portrait
link href="apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image"

// iPad Retina landscape
link href="apple-touch-startup-image-1496x2048.png"media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"rel="apple-touch-startup-image"