<% if @has_voted %>
  $("#favorite-icon").removeClass("fa-heart-o");
  $("#favorite-icon").addClass("fa-heart");
  //$('#favorite-icon').animo( { animation: ['tada'], duration: 2 } );
<% else %>
  $("#favorite-icon").removeClass("fa-heart");
  $("#favorite-icon").addClass("fa-heart-o");
  //$('#favorite-icon').animo( { animation: ['tada', 'bounce'], duration: 2 } );
<% end %>

<% @voters.each do |voter| %>
  var votersHtml = ""
  var tmp ='<a href="#"><img src="<%= voter.headimgurl%>" class="media-head"/></a>';
  votersHtml = votersHtml + tmp
  
  $(".voters").html(votersHtml);
<% end %>

<% if @voters.size == 0 %>

  $(".voters").html("");
<% end %>

$(".like-count").html('<%= @likes %>');
