
@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";

$global-font-family: 'Microsoft YaHei','微软雅黑',Tahoma, Arial,'Helvetica Neue', Helvetica,sans-serif,'宋体';
$global-font-size: 14px;


@mixin global-font {
  font-family: $global-font-family;
  font-size: $global-font-size;
}

.favorite-btn{
  @include border-radius(15px);
  font-size: 20px;
}

.favorite-span{
  padding: 5px 8px;
}
.favorite-heart{
  color: #FF0000;
}

body{
    @include global-font;
    background-color: #f9f9f9;
    padding-top:80px;
    #background: url(http://subtlepatterns.com/patterns/scribble_light.png) ;
}


.footer{
   padding-bottom:15px;
}
