
@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";

$global-font-family: 'Microsoft YaHei','微软雅黑',Tahoma, Arial,'Helvetica Neue', Helvetica,sans-serif,'宋体';
$global-font-size: 14px;


@mixin global-font {
  font-family: $global-font-family;
  font-size: $global-font-size;
}

.favorite-btn{
  @include border-radius(15px);
  font-size: 20px;
}

.favorite-span{
  padding: 5px 8px;
}
.favorite-heart{
  color: #FF0000;
}

body{
    @include global-font;
    padding-top:30px;
    padding-bottom:80px;
}

.navbar-send{
  @include border-radius(50%);
  position: absolute;
  width: 64px;
  height: 64px;
  line-height: 60px;
  text-align: center;
  background: #f0ad4e;
  border: 2px solid #ffffff;
  top: 0;
  left: 50%;
  margin-left: -32px;
  margin-top: -32px;
  z-index: 20;
  .btn-send{
    @include border-radius(50%);
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0 0;
  } 
  
}
.footer{
   padding-bottom:15px;
}
